#lolcalc {
    background-color: #bebdbd;
    height: 100vh;
    display: flex;
}

.nav {
    height: 100%;
    width: 125px;
    background-color: pink;
}

button {
    width: 100px;
    height: 100px;
}