#calc {
    background-color: #242424;
    height: 100vh;
    display: flex;
}
.calc-wrapper {
    margin: auto;
    width: 400px;
    border: 3px solid #353535;
    border-radius: 25px;
}
.calc-wrapper p {
    margin: 0px;
}

.calc-screen {
    height: 150px;
    margin: auto;

    text-align: right;
}
.current-number > p {
    font-size: 3.5em;
    padding-right: 10px;
}
.previous-entry > p {
    padding-top: 46px;
    padding-right: 20px;
    font-size: 1.5em;
    color: #adadad;
}

.calc-buttons {
    width: 400px;
    height: 500px;
    margin: 25px auto 25px auto;

    
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: auto;
    grid-template-areas: 
    "calc-function-top calc-function-top calc-function-top calc-function-right"
    "calc-number calc-number calc-number calc-function-right"
    "calc-number calc-number calc-number calc-function-right"
    "calc-number calc-number calc-number calc-function-right"
    "num-0 num-0 calc-number calc-function-right";
}

.calc-button {
    width: 75px;
    height: 75px;
    margin: auto;
    border-radius: 50px;
    border: none;
    font-size: 25px;
}

.num-0 {
    grid-column: span 2;
    width: 175px;
    border-radius: 50px;
}


.calc-number {
    background-color: #868686;
}
.calc-function-top {
    background-color: #e2e2e2;
}
.calc-function-right {
    background-color: #e29a13;
}

.calc-number:hover {
    background-color: #727272;
}
.calc-function-top:hover {
    background-color: #d1d1d1;
}
.calc-function-right:hover {
    background-color: #d19119;
}

.calc-number:active {
    background-color: #646464;
}
.calc-function-top:active {
    background-color: #bdbdbd;
}
.calc-function-right:active {
    background-color: #b47b11;
}