.main-div {
    display: block;
    font-family: 'Playpen Sans', cursive;
}
.initialSection {
    position: sticky;

    display: flex;
    justify-content: space-around;

    z-index: 9;
}
.initialName {
    color: #1ca78f;
}

.initialSection, #about, #projects, #contact-section {
    cursor: default;
}



#about {
    position: relative;
    z-index: 10;
    background-color: #e9e9e9;
    width: 100%;
    height: 500px;

    align-items: center;
}
.about-me-image-div {
    display: flex;
    justify-content: center;
}
.about-me-image {
    max-width: 650px;
    width: 100%;
}
.about-me-text {
    padding: 0% 5%;
    text-align: center;
}
.grid-2{
    font-size: 16px;
    align-items: center;
  
    list-style: none;
}




#projects {
    position: relative;
    z-index: 10;
    background-color: #e9e9e9;
    width: 90%;
    height: 550px;

    text-align: center;
    padding: 0% 5%;

}
#projects h1 {
    padding: 25px 0 0 0;
    margin-top: 0px;
}
#projects p {
    font-size: 16px;
}

.my-projects-boxes {    
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.project-box {
    position: relative;
    flex: 0 0 auto;

    margin: 50px 50px;
    width: 225px;
    height: 300px;
    color: white;
    box-shadow: 2px 2px 5px 3px #010f11;
    transition: scale .25s, filter ,.5s;
    filter: grayscale(1);
    
    overflow: hidden;
}
.project-box:hover {
    cursor: pointer;
    filter: grayscale(0);
}
.project-title-span {
    padding: 10% 10%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #181818;
    width: 80%;
    opacity: .75;
}
.project-title {
    position: absolute;
    color: white;
    padding: 5% 10%;
    bottom: 0px;
    margin: 0px;
    width: 80%;
    left: 0px;
}
.project-image {
    position: absolute;
    width: 100%;
    left: 0px;
    top: -11%;
}


.my-projects-boxes::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}
.my-projects-boxes::-webkit-scrollbar-thumb {
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
}
.my-projects-boxes::-webkit-scrollbar-track {
    background-color: transparent;
}




.contact-transition {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}
.contact-transition:hover {
    cursor: default;
}
#contact-section {
    position: relative;
    z-index: 10;
    background-color: #f7f7f7;
    width: 90%;
    text-align: center;
    padding: 2.5% 5% 10% 5%;
}
.contact-me-text {
    padding-top: 10px;
}
.contact-form {
    display: grid;
    grid-template-rows: .5fr;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: left; 
}
.contact-form p {
    padding: 0px;
    margin: 0px;
}
.contact-form input, textarea {
    border: none;
    color: #000000;
    border-bottom: 2px solid #000000;
    background-color: transparent;
    height: 25px;
    font-size: 13.25px;
    
    font-family: 'Playpen Sans', cursive;
}
.contact-form input:focus, textarea:focus {
    border-bottom: 2px solid #1ca78f;
    outline: none;

    
    transition: border-bottom .25s;
}
.contact-form textarea {
    font: inherit;
    resize: none;
    height: 100px;
    font-size: 13.25px;
}
.contact-form button {
    width: 200px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 25px;
    color: #000000;
    background-color: #f7f7f7;

    transition: background-color .25s, border .25s, scale .25s;
    font-family: 'Playpen Sans', cursive;
}
.contact-form button:hover {
    scale: 1.1;
    cursor: pointer;
    background-color: #1ca78f;
}
.contact-form input:hover, textarea:hover {
    cursor: text;
}
.contact-divider {
    width: 80%;
    height: 2px;
    background-color: #1ca78f;
    margin: 30px auto;
}



.additional-links {
    position: relative;
    display: inline-block;
}
.additional-logo {
    margin: 0px 10px;
    width: 40px;
    transition: scale .25s, filter ,.25s;
    filter: brightness(0%);
}
.additional-logo:hover {
    scale: 1.3;
    filter: brightness(100%);
}



@media (max-width: 575px) { 
    .initialSection {
        margin: 5% 10% 50% 10%;
        top: 40%;

        height: 650px;
    }
    .initialSection div {
        font-size: 30px;
    }
    #about {
        height: 850px;
        padding: 0px 0px 20px 0px;
    }
    .grid-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 500px;
    }
    #projects {
        height: 850px;
    }
    .my-projects-boxes {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        max-height: 700px;
    }
    .project-box {
        margin: 30px 15px 15px 15px;
        width: 185px;
    }
    .project-box:hover {
        scale: 1.05;
    }
    .project-image {
        top: -10px;
    }
    .contact-form input, textarea {
        margin: 15px 0px 40px 0px;
    }
    .contact-form button {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 576px) { 
    .initialSection {
        margin: 5% 10% 50% 10%;
        top: 40%;

        height: 650px;
    }
    .initialSection div {
        font-size: 40px;
    }
    #about {
        height: 950px;
        padding: 0px 0px 20px 0px;
    }
    .grid-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 500px;
    }
    #projects {
        height: 900px;
    }
    .my-projects-boxes {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        height: 725px;
    }
    .project-box {
        margin: 30px 15px 15px 15px;
    }
    .project-box:hover {
        scale: 1.1;
    }
    .contact-form input, textarea {
        margin: 15px 0px 40px 0px;
    }
    .contact-form button {
        margin-left: auto;
        margin-right: auto;
    }
    #contact-section {
        height: 700px;
    }
}

@media (min-width: 768px) {
    .initialSection {
        margin: 12.5% 10% 27.5% 10%;
    }
    .initialSection div {
        font-size: 50px;
    }
    .contact-form {
        width: 80%;
    }
    .contact-form input, textarea {
        margin: 5px 0px 30px 0px;
    }
    #contact-section {
        height: 600px;
    }
}

@media (min-width: 992px) {
    .initialSection {
        margin: 7.5% 7.5% 27.5% 7.5%;
        top: 30%;
        height: 500px;
    }
    .initialSection div {
        font-size: 70px;
    }
    #about {
        display: grid;
        grid-template-columns: 4fr 6fr;
        height: 850px;
    }
    .grid-2 {
        display: grid;
        grid-template-columns: .5fr 5fr;

        margin: 0px 30px;
        height: 500px;
    }
    .about-me-text h1{
        margin: 10px;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
    }
    .about-me-image {
        max-width: 100%;
    }
    .contact-form {
        width: 70%;
    }
}


@media (min-width: 1200px) {
    .initialSection div {
        font-size: 90px;
    }
    #contact-section {
        height: 500px;
    }
}

@media (min-width: 1400px) {
    .my-projects-boxes-flex {
        display: flex;
        justify-content: center;
    }
    .my-projects-boxes {
        max-width: 90%;
    }
    .project-box {
        margin-left: auto;
        margin-right: auto;
    }
    .contact-form {
        width: 60%;
    }
}






