.colourChange {
  background-color: #e9e9e9;

  transition: all .2s;
}
.colorChange2 {
  background-color: #f7f7f7;

  transition: all .2s;
}
.navBar-full {
  position: sticky;
  top: 0;
  width: 100%;

  z-index: 99;
}
.navBar {
  display: block;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;

  
  font-family: 'Playpen Sans', cursive;
}
.navBar a{
  text-decoration: none;
  text-align: center;
  
  color: rgb(0, 0, 0);
}
.navBar p{
  margin: 0px;
}
.navBar .navLeft {
  display: flex;
  justify-content: left;
}
.navBar .navMid {
  display: flex;
  justify-content: center;
  width: 50%;
}
.navBar .navMid a {
  margin: 0% 5%;
}
.navBar .navRight {
  display: flex;
  justify-content: right;
}


.nav-hover {
  display: inline-block;
  position: relative;
}
.nav-hover::after {
  content: '';
  position: absolute;
  width: 120%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: -10%;
  background-color: #1ca78f;
  transition: transform 0.25s ease-out,;
}
.nav-hover:hover::after {
  transform: scaleX(1);
}




@media (max-width: 575px) {
  .navBar {
    max-width: 100%;
    padding: 10px;
  }
  .navElement{
    width: 90px;
  }
  
}

@media (min-width: 576px) {
  .navBar {
    padding: 20px;
  }
  .navElement{
    width: 100px;
  }
  
}

@media (min-width: 768px) { 
  .navBar {
    font-size: 20px;
    max-width: 90rem;
  }
  .navElement{
    width: 120px;
  }

 }

@media (min-width: 992px) {
  .navBar{
    padding: 30px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}