.projects-navBar-full {
  position: absolute;
  top: 0;
  width: 100%;

  z-index: 99;
}
.projects-navBar {
  display: block;

  margin-left: auto;
  margin-right: auto;

  align-items: center;

  list-style: none;
}
.projects-navBar a{
  text-decoration: none;
  text-align: center;
  
  color: white;
}
.projects-navBar p{
  margin: 0px;
}


.projects-nav-hover {
  display: inline-block;
  position: relative;
}
.projects-nav-hover::after {
  content: '';
  position: absolute;
  width: 120%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: -10%;
  background-color: white;
  transition: transform 0.25s ease-out,;
}
.projects-nav-hover:hover::after {
  transform: scaleX(1);
}




@media (max-width: 575px) {
  .projects-navBar {
    padding: 20px;
  }
  .projects-navElement{
    width: 90px;
  }
  
}

@media (min-width: 576px) {
  .projects-navBar {
    padding: 20px;
  }
  .projects-navElement{
    width: 100px;
  }
  
}

@media (min-width: 768px) { 
  .projects-navBar {
    font-size: 20px;
  }
  .projects-navElement{
    width: 120px;
  }

 }

@media (min-width: 992px) {
  .projects-navBar{
    padding: 30px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}