.main-div {
    display: block;
}
.initialSection {
    position: sticky;

    display: flex;
    justify-content: space-around;

    z-index: 9;
}




#about {
    position: relative;
    z-index: 10;
    background-color: #62A8AC;
    width: 100%;
    height: 500px;

    align-items: center;
}
.about-me-image-div {
    display: flex;
    justify-content: center;
}
.about-me-image {
    max-width: 650px;
    width: 100%;
}
.about-me-text {
    text-align: center;
}
.grid-2{
    font-size: 16px;
    align-items: center;
  
    list-style: none;
}




#projects {
    position: relative;
    z-index: 10;
    background-color: #62A8AC;
    width: 90%;
    height: 550px;

    text-align: center;
    padding: 0% 5%;
}
#projects h1 {
    padding: 25px 0 0 0;
    margin-top: 0px;
}
#projects p {
    font-size: 16px;
}

.my-projects-boxes {    
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.project-box {
    flex: 0 0 auto;

    margin: 50px 50px;
    width: 225px;
    height: 300px;
    color: white;
    box-shadow: 2px 2px 5px 3px #4b888b;
    transition: scale .5s;
}
.project-box:hover {
    cursor: pointer;
}




#contact {
    position: relative;
    z-index: 10;
    background-color: #62A8AC;
    width: 90%;
    height: 500px;
    text-align: center;
    padding: 0% 5%;
}
.contact-me-text {
    padding-top: 10px;
}
.contact-form {
    display: grid;
    grid-template-rows: .5fr;
    width: 60%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}
.contact-form input, textarea {
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    box-shadow: 2px 2px 5px 1px #4b888b;
    height: 25px;
    font-size: 13.25px;
}
.contact-form input:focus, textarea:focus {
    outline: none;
}
.contact-form textarea {
    font: inherit;
    resize: none;
    height: 100px;
    font-size: 13.25px;
}
.contact-form button {
    width: 200px;
    height: 25px;
    box-shadow: 2px 2px 5px 1px #4b888b;
    
    border: none;
    border-bottom: 2px solid black;
    background-color: #50858B;

    transition: scale .5s;
}
.contact-form button:hover {
    scale: 1.1;
    cursor: pointer;
}
.contact-form input:hover, textarea:hover {
    cursor: text;
}




::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-track {
    background-color: rgb(80, 80, 80);
}
.my-projects-boxes::-webkit-scrollbar-track {
    background-color: transparent;
}





@media (max-width: 575px) { 
    .initialSection {
        margin: 5% 10% 50% 10%;
        top: 40%;

        height: 650px;
    }
    .initialSection div {
        font-size: 30px;
    }
    #about {
        height: 850px;
        padding: 0px 0px 20px 0px;
    }
    .grid-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 500px;
    }
    #projects {
        height: 850px;
    }
    .my-projects-boxes {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        max-height: 700px;
    }
    .project-box {
        margin: 30px 15px 15px 15px;
    }
    .project-box:hover {
        scale: 1.05;
    }
    #contact {
        height: 625px;
    }
    .contact-form input, textarea {
        margin: 15px 0px 40px 0px;
    }
}

@media (min-width: 576px) { 
    .initialSection {
        margin: 5% 10% 50% 10%;
        top: 40%;

        height: 650px;
    }
    .initialSection div {
        font-size: 40px;
    }
    #about {
        height: 950px;
        padding: 0px 0px 20px 0px;
    }
    .grid-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 500px;
    }
    #projects {
        height: 1000px;
    }
    .my-projects-boxes {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        height: 725px;
    }
    .project-box {
        margin: 30px 15px 15px 15px;
    }
    .project-box:hover {
        scale: 1.1;
    }
    #contact {
        height: 600px;
    }
    .contact-form input, textarea {
        margin: 15px 0px 40px 0px;
    }
}

@media (max-width: 655px) {
    .contact-form button {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 768px) {
    .initialSection {
        margin: 12.5% 10% 27.5% 10%;
    }
    .initialSection div {
        font-size: 50px;
    }
    .contact-form button {
        margin-left: 0px;
        margin-right: 0px;
    }
    .contact-form input, textarea {
        margin: 5px 0px 30px 0px;
    }
}

@media (min-width: 992px) {
    .initialSection {
        margin: 12.5% 10% 27.5% 10%;
        top: 40%;
        height: 500px;
    }
    .initialSection div {
        font-size: 70px;
    }
    #about {
        display: grid;
        grid-template-columns: 4fr 6fr;
        height: 850px;
    }
    .grid-2 {
        display: grid;
        grid-template-columns: .5fr 5fr;

        margin: 0px 30px;
        height: 500px;
    }
    .about-me-text h1{
        margin: 10px;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
    }
    .about-me-image {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .initialSection div {
        font-size: 90px;
    }
}

@media (min-width: 1400px) {
    .my-projects-boxes-flex {
        display: flex;
        justify-content: center;
    }
    .my-projects-boxes {
        max-width: 90%;
    }
    .project-box {
        margin-left: auto;
        margin-right: auto;
    }
}