.main-div {
    display: block;
}
.initialSection {
    position: sticky;

    display: flex;
    justify-content: space-around;

    z-index: 9;
}
#about {
    position: relative;
    z-index: 10;
    background-color: rgba(13, 75, 69, 1);
    width: 100%;
    height: 500px;

    align-items: center;
}
.about-me-image {
    width: 100%;
}
.about-me-text {
    text-align: center;
}
.grid-2{
    font-size: 16px;
    align-items: center;
  
    list-style: none;
}


#projects {
    position: relative;
    z-index: 10;
    background-color: rgb(12, 65, 60);
    width: 100%;
    height: 550px;

    text-align: center;
}
#projects h1 {
    padding: 25px 0 0 0;
    margin-top: 0px;
}
#projects p {
    font-size: 16px;
}

.my-projects-boxes {    
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.project-box {
    flex: 0 0 auto;

    margin: 50px 50px;
    width: 225px;
    height: 300px;
    color: white;
    outline: 5px solid black;
    box-shadow: 5px 5px 10px 7px rgba(0, 56, 46, 1);
    
}


#contact {
    position: relative;
    z-index: 10;
    background-color: rgba(13, 75, 69, 1);
    width: 100%;
    height: 500px;
    overflow: hidden;

    text-align: center;
}


::-webkit-scrollbar {
    width: 12px;
    height: 10px;
    background-color: rgb(31, 31, 31);
    background-clip: content-box;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-track {
    background-color: rgb(80, 80, 80);
}


@media (min-width: 576px) { 
    .initialSection {
        margin: 5% 10% 50% 10%;
        top: 40%;

        height: 650px;
    }
    .initialSection div {
        font-size: 40px;
    }
    #about {
        height: auto;
        padding: 0px 0px 20px 0px;
    }
    .grid-2 {        
        margin: 20px;
    }

    .my-projects-boxes {
        width: 75%;
        margin: 0% 5%;
        width: 90%;
    }
    .project-box {
        margin: 50px 25px 25px 25px;
    }
}

@media (min-width: 768px) {
    .initialSection {
        margin: 12.5% 10% 27.5% 10%;
    }
    .initialSection div {
        font-size: 50px;
    }
    .project-box {
        margin: 50px 40px 25px 40px;
    }
}

@media (min-width: 992px) {
    .initialSection {
        margin: 12.5% 10% 27.5% 10%;
        top: 40%;
        height: 500px;
    }
    .initialSection div {
        font-size: 70px;
    }
    #about {
        display: grid;
        grid-template-columns: 4fr 6fr;
        height: 500px;
    }
    .grid-2 {
        display: grid;
        grid-template-columns: .5fr 5fr;

        margin: 30px;
        height: 440px;
    }
    .about-me-text h1{
        margin: 10px;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
    }
    .project-box {
        margin: 50px 20px 25px 20px;
    }
}

@media (min-width: 1200px) {
    .initialSection div {
        font-size: 90px;
    }
}

@media (min-width: 1400px) {
    .my-projects-boxes {
        max-width: 90%;
        justify-content: space-between;
    }
}