html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(12, 65, 60);
  overflow: auto;
}
.colorChange {
  background-color: rgba(12, 65, 60, .95);
  border-bottom: 4px solid black;

  transition: all .2s;
}
.navBar-full {
  position: sticky;
  top: 0;
  width: 100%;

  z-index: 99;
}
.navBar {
  display: block;

  margin-left: auto;
  margin-right: auto;

}
.grid{

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;

  list-style: none;
}
.grid a{
  text-decoration: none;
  text-align: center;
  
  color: white;
}
.grid .navLeft {
  display: flex;
  justify-content: left;
}
.grid .navMid {
  display: flex;
  justify-content: space-around;
}
.grid .navRight {
  display: flex;
  justify-content: right;
}



@media (min-width: 576px) {
  .navBar {
    font-size: 20px;
    max-width: 100%;
  }
  .grid{
    padding: 10px;
  }
  .logo {
    height: 30px;
  }
  
}

@media (min-width: 768px) { 
  .navBar {
    font-size: 20px;
    max-width: 90rem;
  }
  .grid{
    padding: 20px;
  }
  .logo {
    height: 35px;
  }

 }

@media (min-width: 992px) {
  .grid{
    padding: 30px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}